/* You can add global styles to this file, and also import other style files */
body{
    background: #f8fafc;
}
.card {
    background: #ffffff;
    border: 1px solid var(--surface-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}